[Desktop Entry]
Name=Bookbag of Holding
Comment=Bookbag of Holding - ebook and audiobook manager
Exec=/usr/bin/lazylibrarian
Icon=/opt/lazylibrarian/data/images/ll.png
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Network;Application;
Path=
